<div class="bg-cover bg-center h-screen flex justify-center items-center body">
  <div class="flex flex-wrap -mx-4 min-w-full justify-evenly">
    <div class="w-full md:w-1/3 px-4 border-2 bg-yellow-300 rounded-lg">
      <h1 class="text-3xl mb-4 font-bold text-black text-center capitalize">
        Contact Us
      </h1>
      <form class="mb-8">
        <div class="mb-4">
          <label for="name" class="block text-gray-700 font-bold mb-2"
            >Name:</label
          >
          <input
            type="text"
            id="name"
            name="name"
            class="border border-gray-400 p-2 w-full"
            required
          />
        </div>
        <div class="mb-4">
          <label for="email" class="block text-gray-700 font-bold mb-2"
            >Email:</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="border border-gray-400 p-2 w-full"
            required
          />
        </div>
        <div class="mb-4">
          <label for="message" class="block text-gray-700 font-bold mb-2"
            >Message:</label
          >
          <textarea
            id="message"
            name="message"
            class="border border-gray-400 p-2 w-full h-32"
            required
          ></textarea>
        </div>
        <div class="text-center">
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
    <div
      class="w-full md:w-1/3 px-4 border-2 text-center rounded-lg bg-yellow-300"
    >
      <h1 class="text-3xl mb-4 font-bold text-black text-center capitalize">
        Contact Information 🇮🇳 
      </h1>
      <h5 class="mb-4">
        Bangalore Institute of technology
        <br />
        VV Puram, Bangalore, Karnataka, India 🇮🇳 560008
      </h5>
      <h5 class="mb-4">Phone: (123) 456-7890</h5>
      <h5 class="mb-4">Email: info@shoppy.com</h5>
      <div class="h-64 rounded-lg overflow-hidden mb-8">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.384007308633!2d77.57187491429622!3d12.942896220892911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15149f2c463d%3A0xd13c1e8dc7f0d57a!2sBangalore%20Institute%20of%20Technology!5e0!3m2!1sen!2sus!4v1650196502949!5m2!1sen!2sus"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          frameborder="2"
        ></iframe>
      </div>
    </div>
  </div>
</div>
