.body {
  /* background-image: url('../../../assets/anim.gif'); */
  background: linear-gradient(to bottom right, #1abc9c, #17c0eb, #2980b9);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
