<div class="bg-teal-300 min-h-screen body">
  <div class="container mx-auto py-10 opacity-100">
    <div class="justify-center mb-10 grid grid-cols-2 gap-4 max-w-4xl mx-auto">
      <img
        src="../../../assets/contact-us.png"
        alt="Company Logo"
        class="rounded-full w-96 h-96 border-teal-200 border-1"
      />
      <div class="max-w-lg mx-auto mb-10 bg-white rounded-lg shadow-lg p-6">
        <p class="text-lg text-gray-600 leading-relaxed">
          E-commerce websites enable businesses to sell products and services
          online. They provide convenience and accessibility to customers and
          can offer personalized recommendations. E-commerce websites range from
          small independent businesses to large corporations. They offer a
          global market and can reduce overhead costs for businesses.
          Establishing an online presence through e-commerce is becoming
          increasingly important for businesses.
        </p>
      </div>
    </div>
    <div class="justify-center mb-10 grid grid-cols-2 gap-4 max-w-4xl mx-auto">
      <div class="max-w-lg mx-auto mb-10 bg-white rounded-lg shadow-lg p-6">
        <h2 class="text-lg font-bold mb-4">Our Mission</h2>
        <p class="text-gray-600 leading-relaxed">
          Our mission is to provide our customers with an exceptional online
          shopping experience by offering a wide selection of high-quality
          products at competitive prices, along with excellent customer service
          and fast and reliable shipping. We strive to create a seamless and
          user-friendly platform that enables our customers to easily find and
          purchase the products they need, while also providing them with the
          information and resources they need to make informed buying decisions.
        </p>
      </div>
      <img
        src="../../../assets/rider.png"
        alt="Company Logo"
        class="rounded-full w-96 h-96 border-teal-200 border-1 bg-teal-300"
      />
    </div>

    <div class="justify-center mb-10 grid grid-cols-2 gap-4 max-w-4xl mx-auto">
      <img
        src="../../../assets/anim.gif"
        alt="Company Logo"
        class="rounded-full w-96 h-96 border-teal-200 border-1"
      />

      <div class="bg-white rounded-lg shadow-lg p-6">
        <h2 class="text-lg font-bold mb-4">Our Vision</h2>
        <p class="text-gray-600 leading-relaxed">
          Our vision is to become a leading ecommerce destination, known for
          offering the best selection of products and the most convenient and
          enjoyable shopping experience online. We aim to build a loyal and
          engaged community of customers who trust and rely on us for all their
          online shopping needs, and to continuously innovate and improve our
          platform to stay ahead of the curve and meet the evolving needs of our
          customers. Ultimately, we aspire to be the go-to ecommerce site for
          people around the world, providing them with a seamless and satisfying
          shopping experience every time they visit our site.
        </p>
      </div>
    </div>
  </div>
</div>
