<mat-card class="full-width p-5 body" *ngIf="cart.items.length">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef>Product</th>
      <td mat-cell *matCellDef="let element">
        <img src="{{ element.product }}" alt="product" class="w-[100px] my-5" />
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button mat-raised-button routerLink="/home">Continue Shopping</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <p class="truncate max-w-xs block">{{ element.name }}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">
        <p>{{ element.price | currency }}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="onRemoveQuantity(element)">
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{ element.quantity }}</span>
        <button mat-icon-button (click)="onAddQuantity(element)">
          <mat-icon>add</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.quantity * element.price | currency }}</span>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <span class="py-5 block font-black">
          {{ getTotal(cart.items) | currency }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <button
          (click)="onClearCart()"
          color="warn"
          class="float"
          mat-raised-button
        >
          Clear All
        </button>
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          (click)="onRemoveFromCart(element)"
          mat-mini-fab
          color="warn"
          class="float-right"
        >
          <mat-icon>close</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button
          (click)="onCheckout()"
          mat-raised-button
          color="primary"
          class="float-right"
        >
          Proceed to Checkout
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</mat-card>
<mat-card *ngIf="!cart.items.length" class="m-2 p-4 body">
  <div class="bg-red-100">
    <p class="full-width justify-around para flex p-3 m-3">
      Your cart is empty.
      <button mat-raised-button routerLink="/home">Start Shopping</button>
    </p>
  </div>
  <div
    class="d-flex justify-content-center align-items-center mt-5 bg-pink-200"
  >
    <!-- <img
      src="../../../assets/rider.png"
      alt="empty cart"
      class="w-60 h-60"
    /> -->
    <img src="../../../assets/empty.webp" alt="empty cart" />
  </div>
</mat-card>
